<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">

<h1>Kermit</h1>


{{#each images}}
    <a href={{this.uri}}><img src={{this.path}} alt={{this.name}} width="120" height="120" id="memes"></a>
{{/each}}