#sendmeme {
    display: inline-block;
    border-radius: 2px;
    border: none;
    height: 45px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 400px;
    background-color:  #239b56 ;
    color: white ;
    position: center;
    transition: .2s ease;
}

.senddiv {
    float: left;
    margin-top: 70px;
    margin-left: 20px;
}

.senddiv h2 {
    color:  #239b56 ;
    text-align: center;
}

.senddiv hr {
    margin-bottom: 50px;
}

.senddiv p {
    font-family: 'Shadows Into Light', cursive;
    color: #239b56;
    font-size: 100px;
}

#memeimg {
    float: right;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 150px;
}

#memeimg:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}