<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="main.css">
</head>
<header>
    <!-- <a href="/"><img src="kermit_logo.jpg" alt="kermit_main_logo" width="120" height="74" id="logo"></a> -->
    <a href="/"><h1 id="print">Kermit ~ MemeBoard</h1></a>
    <!-- <input type="text" placeholder="Search meme..." id="searchbox"> -->
</header>
<body>
    {{{body}}}
</body>
</html> 